@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    padding: 0;
    margin: 0;
}

.contenedorPrincipal{
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(lugia.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    
}

.logo {
    max-height: 65px;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #020202;  
    font-family: "open sans"; 
    align-items: center; 
    box-shadow: #a7b6c6;
}

menu {
    display: flex;
    color: ivory;
    list-style-type:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    font-family: "open sans"; 
    font-size: 18px;
    padding: 30px;
}

li { 
    display:flex;
    padding-left: 15px;
    color: aliceblue;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

main{
    
   
    font-size: 60px;
    font-family: 'Fredoka One';
    font-weight: bold;
    color: ivory;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    padding: 5%;
    padding-top: 10%;
    padding-right: 25px;
    text-align: right;
    letter-spacing: 2pt;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

.botonComprar{
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: #FF5376;
    border-radius: 30px;
    font-size: 23px;
    font: "Open Sans";
    font-style: normal;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    color: ivory;
    box-shadow: 0 1rem 1.25rem 0 rgb(22 75 195 / 50%), 0 -0.25rem 1.5rem rgb(110 15 155) inset, 0 0.75rem 0.5rem rgb(255 255 255 / 40%) inset, 0 0.25rem 0.5rem 0 rgb(180 70 207) inset;
    border: 1px solid #2b609a;
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    margin-top: 8%;
}  

 .button:hover{
    background:rgba(110, 15, 155, 1);
}

.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    background-position-x: right;
} */

 .card{
    display: flex;
    background: #F4F6F7;
    margin: 30px;
    width: 120px;
    height: 140px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 #0c0d0dbd;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.cardFrontImage {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    background-repeat: no-repeat;
    background-size:130px;
    margin-top: -30px;
    padding-top: 35px;
    margin-left: -10px;
}

.card-back-img{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: block;
    background-size:100px;
    margin-top: -105px;
    margin-right: 100px;
    margin-left: -20px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}
.listaDePokemones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.contenedor{
    background-image: url(./img/backqueue.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.containerBox{
    width: 960px;
    height: 640px;
    background: rgba(0, 0, 0, 0.44);
    border: 5px solid #017C76;
    box-sizing: border-box;
    border-radius: 20px;  
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center;    
}

h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#fff;
    margin-top: initial;

}
h2{
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color: #fff;
    margin: 0px;
    
    }
    
    h3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color:#fff;
    }

p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    display: block;
    color:#fff;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.contador{
    background: #ffffff;
    vertical-align: inherit;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: black;
    width: 70px;
    height: 2em;
    line-height: 35px;
}

.btn{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
color: #fff;
margin: 10px;
}

.juegaAqui{
    width: 200px;
    height: 50px;
    background: #FF5376;
    border-radius: 30px;
    font-size: 23px;
    text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1);
    color: ivory;
    box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
                  0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
                  0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                  0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
    border: 1px solid #2b609a;
    cursor: pointer;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
  }
  .juegaAqui:hover{
      background-color: aqua;
  }

 .redirection{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px; 
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em; 
    color: #FF5376;
    text-shadow: 0px 4px 4px #000000;
 } 

 #pagFinal{
     display: hidden;
 }


.containerBox1{
    width: 960px;
    height: 640px;
    background: rgba(0, 0, 0, 0.44);
    border: 5px solid #017C76;
    box-sizing: border-box;
    border-radius: 20px;  
    text-align: center;
    display: flex;
    flex-direction: column; 
    
    align-items: center; 
    justify-content: flex-start;      
}

 .nivel1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color:#fff;
    padding: 20px;
 }